<%- include('../_layouts/admin_header') %>
<a href="/admin/products" class="btn btn-outline-primary btn-sm float-right mt-5"><i class="fa fa-arrow-left"
                                                                                     aria-hidden="true"></i> Back to
    Dashboard</a>
<div class="clearfix"></div>
<h1 class="page-title">Edit Product</h1>


<form action="/admin/products/edit-product/<%= id %>" method="POST" class="mt-3" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" value="<%= title %>">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="desc"><%= desc %></textarea>
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="price" value="<%= price %>">
            </div>

            <div class="form-group">
                <label>Category</label>
                <select name="category" class="form-control">
                    <% categories.forEach( (cat) => { %>
                    <option value="<%= cat.slug %>"
                    <% if(cat.slug == category) { %> selected="selected" <% } %> > <%= cat.title %></option>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Current Images</label>
                <% if(image == '') { %>
                <img src="/images/noimage.png" alt="No image available" width="100%">
                <% }else{ %>
                <img src="/product_images/<%= id %>/<%= image %>" alt="Product image" width="100%">
                <% } %>
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type="file" class="form-control" name="image" id="img">
                <img src="#" id="imgPreview">
            </div>
        </div>

    </div>
    <input type="hidden" name="pImage" value="<%= image %>">
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
<div class="row mt-3">
    <div class="col-md-12">
        <h4>Gallery</h4>
        <ul class="custom-list-group">
            <% galleryImages.forEach((image) => { %>
            <% if(image !== 'thumbs') { %>

            <li class="mr-3">
                <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="thumnail"
                     class="img-fluid img-thumbnail mr-3">
                <a href="/admin/products/delete-image/<%= image  %>?id=<%= id %>" class="confirmDelete"><i
                        class="fa fa-trash"></i></a>
            </li>

            <% } %>
            <% }) %>
        </ul>
    </div>
    <div class="col-md-12">
        <form action="/admin/products/product-gallery/<%= id %>" method="POST" enctype="multipart/form-data"
              class="dropzone" id="dropzone-form">
            <div class="fallback">
                <input type="file" name="file" multiple>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/basic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.js"></script>
<script>
    $(function () {
        // preview image
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result)
                }

                reader.readAsDataURL(input.files[0])
            }
        }

        $('#img').change(function () {
            readURL(this);
        });

        // dropzone
        Dropzone.options.dropzoneForm = {
            accepetedFiles: 'image/*',
            init: function () {
                this.on('queuecomplete', function (file) {
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                })
            }
        }
    });
</script>
<%- include('../_layouts/admin_footer') %>
