<% include ../partials/head %>
    <% include ../partials/header %>
        <div class="main mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header bg-white text-dark">
                                Private Chat
                            </div>
                            <div class="card-body">
                                <div class="chat-output">
                                </div>
                            </div>
                            <div class="card-footer">
                                <form id="msgFormPrivate" method="POST">
                                    <div class="form-group">
                                        <input name="message" class="form-control p-2 mb-0" placeholder="Message" id="msg" />
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary btn-sm m-0"><i class="fa fa-paper-plane mr-2"></i> Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="bg-wrapper aqua-gradient">
                                <div class="bg-img" style="background-image: url( '<%= user.userImage %>')"></div>
                            </div>
                            <div class="card-body">
                                <h4>
                                    <%= user.username %>
                                </h4>
                                <input type="hidden" id="user_id" value="<%= user._id %>">
                                <p class="text-muted mt-0"><span class="status status-online"></span>Online</p>
                            </div>
                            <div class="card-footer">
                                <a href="/profile/<%= user.username %>">Go to Profile <i class="fa fa-chevron-right ml-2"></i></a>
                            </div>
                        </div>
                        <div class="card text-center mt-3">
                            <div class="card-header bg-white text-dark"><strong>Friends <span class="friends-count"></span></strong></div>
                            <div class="card-body text-left" id="friends-online">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(data.friendsList.length > 0){ %>
            <div id="friends" hidden>
                <% data.friendsList.forEach(friend => { %>
                    <%= friend.friendName %>
                        <% }) %>
            </div>
            <% } %>
                <% include ../partials/templates %>
                    <% include ../partials/footer %>